<!DOCTYPE html>
<html>
<head>
<title>Browser Tests!</title>
<script src="/config.js"></script>
<script src="/static/scripts/TestUtils.js"></script>
<script src="/static/scripts/featuretest.js"></script>
<script src="/static/scripts/ststest.js"></script>
<script src="/static/scripts/HTTPOnlyTest.js"></script>
<script src="/static/scripts/SecureTest.js"></script>
<script src="/static/scripts/XFrameOptionTests.js"></script>
<script src="/static/scripts/OriginHeaderTest.js"></script>
<link rel="stylesheet" type="text/css" href="/static/styles/tests.css">
</head>
<body>
<p>
Browser tests... (I wrote these before I'd heard of <a href="http://http://www.browserscope.org/">browserscope</a>)
</p>
<div id="testinfo"></div>
<div id="hiddenstuff" class="hideme"></div>
</body>
</html>